.leaflet-container {
  height: 100%;
  width: 100%;
  z-index: 0;
}

.container {
  position: relative;
  height: 100vh;
  width: 100vw;
}


#grafico {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 300px;
  height: 300px;
  z-index: 10000;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: move;
}
